@import "../../colors.scss";

hr {
  margin: 6px 0px;
}

.fa-chevron-down, .fa-chevron-up {
  color: $blue;
  cursor: pointer;
  font-size: 24px;
}

.fa-times {
  color: $red;
  cursor: pointer;
  font-size: 20px;
}

.full-width {
  width: 100%;
}

.task-description {

  cursor: pointer;

  &:hover {
    text-decoration: line-through;
  }

  &.completed {
    text-decoration: line-through;
  }
}
