<div>
  <div class="d-flex justify-content-between align-items-center">
    <h5 (click)="toggleContentHidden()">{{ header }}</h5>
    <div class="d-flex justify-content-end align-items-center" style="gap: 16px">
      <div class="btn-group" dropdown [isDisabled]="loading">
        <button class="btn btn-sm btn-light" dropdownToggle>
          Actions
          <i class="fa-solid fa-caret-down"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="openConfirmClearTasksModal()">Clear</a>
          </li>
        </ul>
      </div>
      <i class="fa-solid" [ngClass]="{ 'fa-chevron-down': !hideContent, 'fa-chevron-up': hideContent }" (click)="toggleContentHidden()"></i>
    </div>
  </div>
  <hr>
  <div id="content" [collapse]="hideContent" [isAnimated]="true">
    <div *ngIf="loading" class="d-flex justify-content-center">
      <loading-spinner></loading-spinner>
    </div>
    <div *ngIf="!loading">
      <div *ngIf="error; else noError">
        <div class="alert alert-danger">
          Failed to load tasks.
        </div>
      </div>
      <ng-template #noError>
        <div *ngIf="taskCount > 0" class="d-flex flex-column">
          <div *ngFor="let task of tasks">
            <task-group-item [task]="task" (getTasks)="getTasks()"></task-group-item>
          </div>
        </div>
        <div *ngIf="taskCount == 0" class="d-flex justify-content-center">
          <span class="text-muted">No tasks.</span>
        </div>
        <button class="btn btn-light full-width mt-3" (click)="addTask()"><i class="fa-solid fa-plus"></i> Add Task</button>
      </ng-template>
    </div>
  </div>
</div>
