@import "../../colors.scss";

hr {
  margin: 4px 0px;
}

h5 {
  cursor: pointer;
}

.fa-chevron-down,
.fa-chevron-up {
    color: $blue;
    cursor: pointer;
    font-size: 24px;
}

.full-width {
  width: 100%;
}

.dropdown-item {
  cursor: pointer;
}

.task-group-complete {
  color: $green;
}